/* line 1, sass_template/demo.scss */
body {
  background-color: aqua; }
  /* line 3, sass_template/demo.scss */
  body .container-fluid {
    width: 100%;
    padding: 20px;
    text-align: center;
    background: grey; }
    /* line 8, sass_template/demo.scss */
    body .container-fluid p {
      padding: 20px;
      background: pink; }
